@import '../config/variables';

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    background-color: #202020;
    transition: height 0.5s;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0rem;
    z-index: 50;
    overflow: hidden;

    &__main {
        display: flex;
        width: 42rem;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
        margin-left: 4.188rem;
        margin-right: 1.938rem;

        img {
            height: 90%;
        }
    }

    &__title {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 24rem;
        height: 100%;

        h1 {
            font-family: 'CairoLight';
            font-size: 1.5rem;
            font-weight: 200;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: #D251FF;
                }
            }

            span {
                font-family: 'CairoBold';
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
    }

    &__navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - 42rem);
        margin-left: 9.5rem;
        margin-right: 2.4rem;
    }

    &__navbarItem {
        width: 7.938rem;
        cursor: pointer;

        h2 {
            font-family: 'CairoLight';
            font-size: 1rem;
            font-weight: 700;
            color: white;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: #D251FF;
                }
            }

            &:hover {
                color: #D251FF;
            }
        }
    }

    &__login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 100%;
        margin-right: 3rem;
    }

    &__loginForm {
        display: none;////////////
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8px);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &__loginUser {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 0;      
        background-color: #202020;
        border-radius: 0.8rem;
        position: absolute;
        top: 12.5rem;
        z-index: 10;
        transition-property: height;
        transition-duration: 0.5s;
        overflow: hidden;

        label {
            color: white;
            font-family: 'CairoRegular';
            font-size: 1.25rem;
            font-weight: 700;
        }

        input {
            width: 20rem;
            height: 2.5rem;
            color: white;
            font-family: 'CairoRegular';
            font-size: 1.25rem;
            text-align: center;
            background-color: #202020;
            border: 2px solid #777777;
            border-radius: 0.5rem;
        }

        p {
            font-family: 'CairoLight';
            font-size: 1rem;
            margin-top: 1rem;
        }
    }

    &__close {
        display: flex;
        color: white;
        font-size: 2rem;
        font-family: 'CairoLight';        
        height: 3rem;
        width: 3rem;
        line-height: 2.7rem;
        text-align: center;
        border-radius: 1.5rem;
        background-color: #202020;
        border: 2px solid #777777;
        padding-left: 0.8rem;
        position: absolute;
        top: 3rem;
        right: 3rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__loginBtns {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 2rem;
    }

    &__msj {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40rem;
        height: 20rem;      
        background-color: #202020;
        border-radius: 0.8rem;
        position: absolute;
        top: 12.5rem;
        z-index: 15;
        transition-property: height;
        transition-duration: 0.5s;
        overflow: hidden;
        box-shadow: 0px 0px 5px 5px grey;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 80%;
            height: 100%;

            h2 {
                color: white;
                font-size: 1.5rem;
                font-family: 'CairoBold';
                font-weight: 700;
                margin: 1.5rem;
            }

            p {
                color: white;
                font-size: 1rem;
                font-family: 'CairoLight';
            }
        
        }

        button {
            justify-self: flex-end;
            margin-bottom: 1rem;
        }
    }

    &__regist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 66rem;
        height: 0rem;////// 0rem ///////        
        background-color: #202020;
        border-radius: 0.8rem;
        position: absolute;
        top: 3rem;
        z-index: 10;
        transition: height 0.5s;
        transition-delay: 0.5s;
        overflow: hidden;

        h2 {
            color: white;
            font-size: 1.5rem;
            font-family: 'CairoBold';
            font-weight: 700;
            margin-left: 7rem;
        }

        label {
            color: white;
            font-family: 'CairoLight';
            font-size: 1.2rem;
            font-weight: 700;
        }

        input {
            height: 2.5rem;
            color: white;
            font-family: 'CairoRegular';
            font-size: 1.25rem;
            text-align: center;
            background-color: #202020;
            border: 2px solid #777777;
            border-radius: 0.5rem;
        }
    }

    &__form {
        button {
            margin-left: 10rem;
            position: relative;
            top: -5rem;
        }
    }

    &__registUsername {
        display: flex;
        flex-direction: column;
        margin-left: 7rem;
        margin-top: 1.5rem;

    }

    &__registName {
        display: flex;
        margin-left: 7rem;
        margin-top: 1.5rem;

        div {
            display: flex;
            flex-direction: column;

            input {
                width: 25rem;
                margin-right: 2rem;
            }
        }
    }

    &__registEmail {
        display: flex;
        flex-direction: column;
        margin-left: 7rem;
        margin-top: 1.5rem;

        input {
            width: 40rem;
        }
    }

    &__registDiv {
        display: flex;
    }

    &__registImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25rem;
        margin-left: 2rem;
    }

    &__registSel {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        div {
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
        
            select {
                width: 10rem;
                height: 2.5rem;
                color: white;
                background-color: #202020;
                border: 2px solid #777777;
                border-radius: 0.5rem;  

                option {
                    color: white;
                    font-family: 'CairoRegular';
                    font-size: 1.25rem;
                    text-align: center;
                }
            }
        }
    }

    &__registImgDiv {
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        // border: 2px solid #777777;
        border-radius: 7.5rem;          

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__registPass {
        display: flex;
        flex-direction: column;
        margin-left: 7rem;
        margin-top: 1.5rem;

        input {
            width: 25rem;

            &:focus {
                outline: none;
            }
        }
    }
}

.msjDiv {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #77777744;
    backdrop-filter: blur(8px);
    z-index: 15;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90rem;
    min-height: 100vh;
    background-image: url('./../../img/fondoCuantico.png');
    background-position: center -15rem;
    background-repeat: repeat-y;
    background-size: 120rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40rem;
    margin: 2rem 0;
    background-color: #20202079;
    backdrop-filter: blur(15px);
    position: relative;

    &__main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90rem;
        border: 1px solid white;
        border-radius: 0.5rem;
    }

    &__element {
        height: 33rem;
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            height: 33rem;
            width: 90rem;
            border: none;
            border-radius: 1rem;
        }

        button {
            width: 4rem;
            height: 4rem;
            color: white;
            font-size: 1.5rem;
            text-align: center;
            padding-left: 0.25rem;
            background-color: #00000075;
            border: 0.1rem solid #00000034;
            border-radius: 2rem;
            position: absolute;
            top: 14.5rem;
            left: 43rem;
            
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 25rem;
        position: absolute;
        left: calc((100vw - 90rem) / 2 - 5rem);
        cursor: pointer;

        p {
            color: white;
            width: 2rem;
            padding-right: 0.4rem;
            text-align: center;
            font-size: 3rem;
            font-weight: 400;

            &:hover {
                color: gold;
                transform: scale(1.1);
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 25rem;
        position: absolute;
        right: calc((100vw - 90rem) / 2 - 5rem);
        cursor: pointer;

        p {
            color: white;
            width: 2rem;
            padding-left: 0.4rem;
            text-align: center;
            font-size: 3rem;
            font-weight: 400;

            &:hover {
                color: gold;
                transform: scale(1.1);
            }
        }
    }
}

.videoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    z-index: 5;

    iframe {
        width: 88vw;
        height: 49vw;
        border: none;
    }

    &__closeVid{
        display: flex;
        color: white;
        font-family: 'CairoLight'; 
        font-size: 2rem;               
        height: 3rem;
        width: 3rem;
        line-height: 2.7rem;
        text-align: center;
        border-radius: 1.5rem;
        background-color: #202020;
        border: 2px solid #777777;
        padding-left: 0.8rem;
        position: absolute;
        top: 3rem;
        right: 3rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.combosPrev {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    position: relative;        
    overflow: hidden;

    &__div {
        width: 90rem;
        height: auto;
        position: absolute;
        top: -21rem;
    }

    &__divText {
        width: 35rem;
        height: 40rem;
        margin: 0rem 2rem 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: left;
        z-index: 2;
        clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
        background-color: rgba(32, 32, 32, 0.9);  

        h3 {
            color: white;
            font-size: 2.5rem;
            font-family: 'CairoBold';
            font-weight: 700;
            align-self: center;
            position: relative;
            top: -1rem;
        }

        p {
            color: white;
            width: 32rem;
            font-size: 1.25rem;
            font-family: 'CairoLight';
            font-weight: 700;
            margin: 0  2rem 0.5rem 2rem;
            position: relative;
            top: -1rem;
        }

        .btn {
            align-self: center;
            position: relative;
            top: -1rem;
        }
    }

    &__combos {
        height: auto;
        position: relative;
        left: -5rem;
        z-index: 2;
    }

    &__comboSmall{
        display: flex;
        flex-direction: column;
        width: 39rem;
        height: 10rem;
        background-image: linear-gradient(163deg, #6100CA 0%, #6100ca 45%, gold 55%, gold 100%);
        border-radius: 1rem;
        transition: all .3s;
        margin-bottom: 2rem;

        &:hover {
            box-shadow: 0px 0px 30px 1px #6200ca8a;
        }
    }

    &__comboSmall2{
        width: 39rem;
        height: 10rem;
        background-color: rgba(32, 32, 32, 0.95);
        border-radius: 1rem;
        transition: all .2s;

        &:hover {
            transform: scale(0.98);        
        }
    }

    &__header {
        display: flex;
        align-items: center;

        h2 {
            color: #D251FF;
            font-size: 2rem;
            font-family: 'CairoBold';
            font-weight: 700;
            margin-left: 2rem;
            margin-right: 4.25rem;
        }

        h4 {
            color:#61CE70;
            font-family: 'CairoRegular';
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    &__desc {
        display: flex;
        flex-wrap: wrap;
        width: 30.75rem;
        margin-left: 6.25rem;
        
        p {
            min-width: 14rem;
            color: white;
            line-height: 1.9rem;
            font-size: 1rem;
            font-family: 'CairoLight';
        }
    }
}

.historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70rem;
    margin-top: 5rem;
    position: relative;        
    overflow: hidden;

    &__navbar {
        width: 85%;

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                width: calc(100% / 6);
                color: white;
                text-align: center;
                font-family: 'CairoRegular';
                font-size: 1.6rem;
                background-color: black;
                border-radius: 0.5rem 0.5rem 0 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &__descripciones {
        width: 85%;
        position: relative;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
        background-color: rgba(32, 32, 32, 0.93);
        border-bottom: 1px solid black;
        border-radius: 0 0 0.5rem 0.5rem;
        overflow: hidden;
        position: absolute;
        transition: height 1s;
        
        img {
            width: 20rem;
            height: 15rem;
            margin: 2.5rem;
        }
        
        .desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 2rem 2rem 2rem 0.5rem;
            
            p {
                width: 90%;
                color: white;
                font-size: 1.2rem;
                font-family: 'CairoLight';
                font-weight: 400;
                margin-bottom: 1rem;
            }
        }        
    }        
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100vw;
    height: 24rem;
    background-color: #202020;
    z-index: 5;

    &__chacruk {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__logo {
        height: 12rem;
        margin: 3.75rem 11rem 3.75rem 5rem ;
        margin-left: 5rem;
    }

    &__img {
        height: 12rem;
    }

    &__contacto {
        width: 31rem;

        p {
            color: white;
            font-family:'CairoLight';

            span {
                font-size: 1.5rem;
                font-weight: 700;
                padding-bottom: 0.3rem;
            }
        }
    }

    &__redes {
        display: flex;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            margin: 1.4rem;
            background-color: #777777;
            border-radius: 0.5rem;

            img {
                max-width: 1.6rem;
                max-height: 1.6rem;
            }
        }
    }

    &__semillero {
        height: 5rem;
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: white;
            font-family:'CairoLight';
            height: 2rem;
        }

        a {
            height: 3rem;
            margin-left: 2rem;

            img {
                height: 100%;
                margin-left: 1rem;
            }
        }
    }
}

.bannerHistoria {
    display: flex;
    flex-direction: column;    
    width: 66rem;
    height: auto;
    background-color: rgba(32, 32, 32, 0.95);
    border-radius: 0.5rem;    
    margin-bottom: 5rem;

    &__title {
        color: white;
        font-family: 'CairoBold';
        font-size: 2rem;
        font-weight: 700;
        margin: 1.8rem 2.3rem;
        line-height: 2rem;
    }

    &__desc {
        display: flex;

        img {
            width: 16rem;
            height: 11.5rem;
            margin: 0 2.3rem;
            border-radius: 0.5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            margin: -0.5rem 2rem 1rem 0rem;

            p {
                color: white;
                font-size: 1.25rem;
                font-family: 'CairoRegular';
                font-weight: 400;
            }
        }
        
    }
}

.btn {
    margin-top: 1rem;

    button {
        padding: 20px 60px;
        background-color: #000;
        border: none;
        font-size: 18px;
        position: relative;
        /* overflow: hidden; */
        transition: 200ms;
    }
    
    button span {
        color: gray;
        position: relative;
        transition: 200ms;
        transition-delay: 500ms;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
    }
    
    button:before {
        content: '';
        position: absolute;
        width: 0%;
        height: 0%;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        transition: 200ms;
        transition-delay: 200ms;
        background-color: #6100CA;
        box-shadow: 0 0 10px #6100CA,
        0 0 30px #6100CA, 
        0 0 50px #6100CA;
    }
    
    button div {
        transition: 200ms;
        position: absolute;
        background-color: #6100CA;
        box-shadow: 0 0 15px #6100CA, 0 0 30px #6100CA, 0 0 50px #6100CA;
    }
    
    button .top {
        width: 15px;
        height: 2px;
        top: 0;
        left: 0;
    }
    
    button .bottom {
        width: 15px;
        height: 2px;
        bottom: 0;
        right: 0;
    }
    
    button .left {
        width: 2px;
        height: 15px;
        top: 0;
        left: 0;
    }
    
    button .right {
        width: 2px;
        height: 15px;
        bottom: 0;
        right: 0;
    }
    
    button:hover {
        color: blue;
    }
    
    button:hover span {
        color: #000;
    }
    
    button:hover:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    button:hover .top, 
    button:hover .bottom {
        width: 100%;
    }
    
    button:hover .left,
    button:hover .right {
        height: 100%;
    }

    :active {
        transform: scale(0.97);
    }
}



