$b: 1px solid black;

@font-face {
    font-family: 'CairoLight';
    src: url('./../../fonts/Cairo/Cairo-Light.ttf');
}
@font-face {
    font-family: 'CairoBold';
    src: url('./../../fonts/Cairo/Cairo-Bold.ttf');
}
@font-face {
    font-family: 'CairoRegular';
    src: url('./../../fonts/Cairo/Cairo-Regular.ttf');
}